{name, "convey"}.
{authors, ["Alisdair Sullivan <alisdairsullivan@yahoo.ca>"]}.
{description, "a high performance, highly concurrent tcp server implementation"}.
{homepage, "https://github.com/talentdeficit/convey"}.
{rebar_compatible, true}.
{license, "MIT"}.
{url, {git, "https://github.com/talentdeficit/convey.git", {branch, "master"}}}.
{applications, [convey]}.
